<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
    <style>
         .bg{

             height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image:url('assets/images/mobile.png');
  width:85%;
  }
    </style>
</head>
<body class="bg">
    <a href="home"><img STYLE="position:absolute; TOP:100px; LEFT:170px; WIDTH:250px; HEIGHT:250px" src="assets/images/appstore.png"></a>
    <a href="home"><img STYLE="position:absolute; TOP:120px; LEFT:550px; WIDTH:220px; HEIGHT:220px"  src="assets/images/playstore.png"></a>
</body>
</html>
